html,
body {
    font-size: 16px !important;
    background: linear-gradient(200deg, #7c72dc 40%, rgba(123, 112, 219, 0.4) 40%, rgba(123, 112, 219, 0.4) 50%, transparent 50%);
    height: 100vh;
}

div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, .19);
}