html,
body {
    font-size: 16px !important;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    overflow: hidden;
}

hr {
    width: 100%;
}

.hamburger-menu {
    position: relative;
    padding-left: 1.25em;
}

.hamburger-menu:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 1em;
    height: 0.15em;
    background: black;
    box-shadow: 0 0.25em 0 0 black, 0 0.5em 0 0 black;
}

#header>img {
    height: 45px;
}

#main-wrapper::before {
    content: '';
    display: block;
    width: 100%;
    background: #3399ff;
    height: 10px;
}

#sidebar {
    top: 0;
    left: 0;
    width: 250px;
    font-size: 18px;
    height: 100%;
}

#sidebar>img {
    height: 50px;
    margin: 5px;
}

#sidebar>div {
    padding: 14px 5px 0px;
}

#sidebar>div>* {
    margin-left: 5px;
    color: grey;
    display: block;
    padding: 5px 0;
}

#account>a {
    padding: 14px;
    border-radius: 14px;
    border: 2px solid grey;
}

#main-wrapper {
    width: calc(100% - 250px);
    height: 100vh;
    transform: translateX(250px);
}

#header {
    padding: 4px;
}

#header>h3 {
    margin: 0 0 15px 0;
}